<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Simple Store Application", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li><a href="~/Store/Index"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                <li><a href="~/ShopingCart/Index"><span class="glyphicon glyphicon-shopping-cart"> My cart</span></a></li>
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                
                @if (Session["Username"] != null)
                { 
                    <li><a href="~/Checkout/Complete"><span class="glyphicon glyphicon-user"> @Session["Username"].ToString():Orders</span></a></li>
                    <li>@Html.ActionLink("SignOut", "SignOut", "Account")</li>
                }
                
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marcin Kuligowski</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

